@model Szkolenie_techniczne_3_projekt.Models.Students

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numer_domu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numer_domu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
